* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, rgb(50, 54, 66), rgb(20, 22, 27));
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
}

input, button {
    color: black;
    font-size: 2rem;
}

label, span {
    font-size: 2.8rem;
}

.register-form {
    margin-top: 0vh;
}
.register-form, .login-form {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.delete-comment-btn {
    background-color: rgb(122, 31, 31);
    
}

