@media screen and (max-width: 1500px) {

   
    .right-div a, .logo, a, .login-btn, .account-btn{
        font-size: 1.4rem;
    }

    .right-div-post span {
        font-size: 1.2rem;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 900px) { 
    /* Post page */
    .post-author-picture {
        width: 75px;
        height: 75px;
    }

    .author-post {
        font-size: .6rem;
        text-align: center;
     }

    .post-comment-container, .post-comment-container input, .post-comment-container button {
        font-size: .8rem;
    }

    .like-button {
        width: 25px;
        height: 25px;
        
    }

    .posts-container, .post-main-div {
        width: 100vw;
    }

    .hamburger-nav {
        position: fixed;
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: rgb(161, 64, 51);   
        display: flex;
        transform: translateX(100%);
        flex-direction: column;
        align-items: center;
    }

    .menu-open {
        transform: translateX(0%);
    }

    .hamburger {
        display: block;
    }
    
    nav ul{
        display: none;
    }
    
    .login-nav-container {
        display: none;
    }

    nav {
        height: 30px;
        width: 100vw;
    }

    .logo-nav-container {
       margin-right: auto;
    }

    .logo {
        width: 50vw;
        text-align: center;
    }

    .hamburger-nav ul li {
        list-style-type: none;
        margin-left: 5%;
        margin-bottom: 50px;
        text-align: center;
        width: 80vw;
    }

    .hamburger-logo {
        margin-bottom: 20vh;
        font-size: 1.5rem;
    }
}