* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: gray;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-container {
    display: flex;
    width: 85vw;
    background-color: rgb(114, 114, 114);
    flex-direction: column;
}

.post {
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.comment-container, .description-container {
    border: 1px solid black;
    width: 40vw;
}

.profile-container {
    width: 85vw;
    background-color: rgb(54, 54, 54);
    display: flex;
}
.profile-picture {
    width: 100px;
}

.like-button {
    width: 30px;
    height: 30px;
}

.upvoted {
    background-color: cornflowerblue;
}

