nav {
    width: 85vw;
    height: 2vh;
    background-color: rgb(161, 64, 51);   
    display: flex;
    justify-content: center;
}

.logo-nav-container {
    width: 20%;
}

nav ul{
    width: 60%;
    display: flex;
    
}

nav ul li {
    list-style-type: none;
    margin-left: 5%;
}

.login-nav-container {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}