nav {
    width: 85vw;
    height: 60px;
    background-image: linear-gradient(to bottom right, #801f1f,rgb(161, 64, 51));   
    display: flex;
    justify-content: center;
}

.logo-nav-container {
    width: 20%;
}

nav ul{
    width: 60%;
    display: flex;
    
}

nav ul li {
    list-style-type: none;
    margin-left: 5%;
}

.login-nav-container {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.login-btn, .account-btn {
    margin-left: 20px;
    margin-right: 5px;
    font-size: 2.4rem;
}

a {
    font-size: 2.4rem;
}

.hamburger {
    position: absolute;
    z-index: 10;
    width: 20px;
    height: 20px;
    display: none;
    top: 1px;
    right: 1px;
}


.hamburger-nav {
    display: none;  
}

.hamburger-row {
    width: 40px;
    height: 4px;
    margin-top: 2px;
    background-color: rgb(226, 226, 226);
}



